<footer class="container-fluid">
  <div class="row align-items-end">
    <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    </div>

    <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 social">
      <p>Connect with us: </p>
      <div class="row">
        <div class="col">
          <a href="http://www.vk.com">
            <img src="/social/iconmonstr-vk-5-240.png" width="50px" height="50px">
          </a>

          <a href="https://ru.linkedin.com">
            <img src="/social/iconmonstr-linkedin-5-240.png" width="50px" height="50px">
          </a>

          <a href="https://twitter.com">
            <img src="/social/iconmonstr-twitter-5-240.png" width="50px" height="50px">
          </a>

          <a href="https://instagram.com">
            <img src="/social/iconmonstr-instagram-10-240.png" width="50px" height="50px">
          </a>
        </div>
      </div>
    </div>

    <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 email">
      <p>Email: </p>
      <div class="row">
        <div class="col">
          <p>blablabla@gmail.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-end company_label">
    <p>MODERNARTBLOG, 2017</p>
  </div>
</footer>